*{
    margin: 00;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body{
    background: linear-gradient(45deg,#242424,#0f121a);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator{
    border: 3px solid;
    border-color: #222c2d;
    border-radius: 14px;
    padding: 19px;
    box-shadow: 1px 1px 15px 5px rgba(0, 0, 0, 0.5);
}

input{
    width: 315px;
    height: 10vh;
    border:7px solid #02e1fa;
    border-radius: 14px;
    outline: none;
    padding: 25px;
    margin: 10px;
    background: transparent;
    font-size: 25px;
    cursor: pointer;
    text-align: right;
    color: rgb(197, 197, 197);
    box-shadow: 0px 3px 15px rgba(84,8,4,84,0.1);
    transition: 0.2s;
}
input:hover{
    font-size: 29px;
}

input::placeholder{
    color: #e4e4e4;
}

.row1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.row2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.row3{
    display: flex;
    justify-content: center;
    align-items: center;
}
.row4{
    display: flex;
    justify-content: center;
    align-items: center;
}
.row5{
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    border: 2px solid #02e1fa;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: 7px 10px;
    background: transparent;
    color: #e4e4e4;
    font-size: 25px;
    transition: 0.2s;
}
button:hover{
    background: #02e1fa;
    color: #242424;
}

.operator{
    background-color: #02e1fa;
    color: #242424;
    transition: 0.2s;
}
.operator:hover{
    background-color: #fff;
    border-color: #e4e4e4;
    color: #242424;
    
}

.eqbtn{
    background-color: #02e1fa;
    color: #242424;
    transition: 0.2s;
}
.eqbtn:hover{
    border-color: #e4e4e4;
    background-color: #fff;

}